#camada1{
position:relative;
 width:796px;
    height: 97px;
    background-color: rgb(253, 7, 7);
text-align: center;
padding: 10px; 
box-sizing: border-box;
clear: left;
left: 202px;  
top: -99px; 
}